.layout {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}


@font-face {
    font-family: 'Arsenal_SC';
    src: url('/shared-temp/fonts/Arsenal_SC/ArsenalSC-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arsenal_SC';
    src: url('/shared-temp/fonts/Arsenal_SC/ArsenalSC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Arsenal_SC', sans-serif;
}
